html {
  height: 100%;
}

body {
  background: rgb(67,83,134); /* Old browsers */

  color: #9fb1ed;
  font-family: 'PT Sans', sans-serif;
  height: 100%;
  margin: 2em;
}
/* this part is for color */
p, .topmenu {
  background-color: #5b6c98;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
  padding: 0.75em;
  border-radius: 5px;
  border: 1px solid #8c9dd673;
}

a {
  color: white;
  text-decoration: none;
  word-wrap: break-word;
}
a:hover{
  color:#c1c9db;
}

h3 {
  font-family: "Kreon", serif;
  font-size: 1.5em;
  text-align: center;
}
video {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  margin-bottom: 10px;
}

body > div.col-lg-12 > video{
  max-width: 100%;
}
.animated {
  animation-duration: 1s !important;
}
.nightmode {
  background: #151a29;
}
.lbutton{
  text-align: center;
}
.remote{
  background-color: #263051;
  border: 1px solid #6983d4;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.remote .btn{
  margin-bottom: 10px;
}
.remote_title{
  font: 400 1.4em 'Merienda One', Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 10px;
}
.container{
  padding-left: 0px;
  padding-right: 0px;
}
.topmenu{
  margin-bottom: 10px;
}