<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Media Player - {{ title }}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}" />
</head>

<body>
  
  <nav class="navbar">
    <span class="navbar-brand"><i class="fa fa-file-video-o"></i> Media Server</span>
    <ul class="navbar-nav mr-auto">
      {% if (request.path != "/") %}
        <li class="nav-item">
          <a href="../" class="nav-link">Home</a>
        </li>
      {% endif %}
    </ul>
  </nav>
  <div class="container">
    {% block play%}{% endblock %}
  </div>
</body>

</html>
