{% extends 'base.html' %}
{% block play %}

<div class="col-lg-12">

  <h3> {{ title }} </h3>
  <video controls id="video_id" autoplay>
    {% set url = url_for('static', filename="video/" + video_file) %}
    <source src="{{ url }}" type="video/mp4" max-width="100%">
    <source src="{{ url }}" type="video/mkv">
    <source src="{{ url }}" type="video/mov">
    <!-- <track label="English" kind="subtitles" srclang="en" src="../static/video/subt.vtt" default> -->
    Your browser does not support this video format.
  </video>
</div>

<div class="col-lg-12">
  <p><a href="/">Home</a></p>
</div>

{% endblock %}
