{% extends 'base.html' %}
{% block play %}

<h3> {{ title }} </h3>
  <video controls>
    <source src="../static/video/{{ video_file }}" type="video/mp4">
    <source src="../static/video/{{ video_file }}" type="video/mkv">
    <track label="English" kind="subtitles" srclang="en" src="../static/video/subt.vtt" default>
    Your browser does not support this video format.
  </video>
<div class="comment">
  <h3>Comment:</h3>
  <input type="text" value="Enter your comments here"></input><br>
  <input type="submit" value="Enter Comment"></input>
</div>
  <p><a href="/">Home</a></p>
{% endblock %}
